
// ==========================================================================
// Custom Styles - Base
// ==========================================================================
//


a:hover
  text-decoration: none

ul
  list-style: none
  margin: 0
  padding: 0

body
  min-height: 100vh
  &.app
    color: $text-color
    background: $app-bg

    font-size: $font-family-base-app
    line-height: $line-height-base-app
    font-family: $font-family-base-app
    font-weight: $font-weight-base-app


    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

  &.devise
    background-color: $app-bg
    //background-image: url("school.png")
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.wrapper
  display: flex
  flex-wrap: wrap
  flex-direction: column
  flex: 1

  min-height: 100vh
  height: 100%
  width: 100%
  overflow: hidden

.devise-wrapper
  display: flex

  height: 100%
  width: 100%
  align-content: center
  justify-content: center



// Sidebar Left
// ==========================================================================
.aside-1
  min-width: 200px
  width: 100%
  display: flex
  flex-direction: column
  //flex: 1

  background: $sidebar-bg

  .logo
    flex-basis: 70px
    background: $logo-bg
    display: flex

    a.navbar-brand
      line-height: 70px
      flex-grow: 1
      text-align: center
      color: #FFF
    button.navbar-toggler
      //line-height: 70px
      flex: 0
      color: #FFF
      border: 0
      border-radius: 0
      width: 70px


  .main-nav
    display: flex
    flex-direction: row
    flex-grow: 1
    justify-content: center
    //height: 0
    //overflow: hidden

    //&.active
    //  height: 135px


    li
      justify-content: center
      display: flex
      flex: 1

      &.active a
        background: $secondary
        color: $sidebar-item-hover-bg
        .fa
          color: $sidebar-item-hover-bg

        &::before
          content: ""
          background: $secondary
          width: 3px
          height: 45px
          position: absolute
          left: 0

      a
        display: block
        width: 100%
        text-align: center
        line-height: 45px
        padding-left: 25px
        font-size: 14px
        color: $sidebar-text
        position: relative

        &:hover::before
          content: ""
          background: $secondary
          width: 3px
          height: 45px
          position: absolute
          left: 0

        &:hover
          background: $secondary
          color: $sidebar-item-hover-bg

        .fa
          left: 30px
          top: 15px
          font-size: 18px
          color: $sidebar-text



  .books-menu
    position: relative
    margin: 0
    padding: 0
    width: 100%

// Main
// ==========================================================================
.main
  //flex: 1 1 600px
  display: flex
  flex-direction: column

  background: $app-bg

  .main-left-col
    overflow-x: hidden


.positioner
  /*max-width: 700px;*/
  background: $header-bg
  color: $header-text
  margin: 0 auto


// Main header
// ==========================================================================
.main-header
  width: 100%
  display: flex
  flex: 0 0 auto
  flex-direction: column
  justify-content: space-between
  align-items: center

  .block-search
    flex: 1
    //height: 70px

    .col-sm-6
      width: 100%
      flex: 1
      &:first-child
        flex: 2

    .form-group
      margin: 0

    form

      input
        width: 100%
        height: 70px
        font-size: 16px
        //padding: 0 45px
        color: $text-color
        border: none

        &:focus
          outline: none
          background: #eeeeee

      .input-group-btn
        button
          height: 70px
          width: 70px
          background: transparent
          border: 0
          color: $text-color
          border-radius: 0
          transition: 0.3s background
          &:hover
            background: $primary
            outline: none
          &:active
            outline: none

.user-nav
  display: flex
  justify-content: flex-end
  align-items: center
  width: 100%
  height: 70px
  .no-user-actions
    flex: 0 0 auto
    flex-direction: row
    display: flex
    align-items: center
  .user-details
    flex: 0 0 auto
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .user-sign-out-btn, .user-name
      a
        color: $app-bg
        transition: color .3s
        &:hover
          color: $brand-primary

// Main content
// ==========================================================================
.main-content.container-fluid
  display: flex
  flex-direction: column
  flex: 1
  width: 100%

  .main-content-wrapper
    flex: 1
    flex-direction: column

    .main-left-col
      flex: 2 2 50%
      padding: 10px


    .main-right-col
      flex: 1 1 50%
      padding: 10px



  .breadcrumb
    padding: 10px
    font-size: 0.95rem
    line-height: normal
    margin-bottom: 0.5rem

    background: darken($app-bg,10%)
    border-radius: 0

    li
      color: lighten($app-bg, 10%)
      &:before
        color: lighten($app-bg, 10%)
      a
        color: lighten($app-bg, 10%)
      &.active
        font-weight: 700
        color:  lighten($app-bg, 30%)


// MD screens
// ==========================================================================
@media (min-width: 48em)

  .wrapper
    flex-wrap: wrap
    flex-direction: row
    flex: 1

    min-height: 100vh
    height: 100%
    width: 100%


  .aside-1
    min-width: 200px
    width: 100%
    flex-direction: column
    flex: 0 0 200px

    .main-nav
      height: auto
      flex-direction: column
      flex: 0 0 auto


      li
        flex-basis: 45px
        justify-content: flex-start
        a
          width: 100%
          text-align: left

  .main
    flex: 1 1 400px
    flex-direction: column


  .main-header
    width: 100%
    flex: 0 0 auto
    flex-direction: row
    justify-content: space-between
    align-items: center


// LG screens
// ==========================================================================
@media (min-width: 62em)
  .main-content.container-fluid
    flex-direction: row
    flex: 1

    width: 100%

    .main-content-wrapper
      flex: 1
      flex-direction: row

      .main-left-col
        flex: 2 2 50%
        padding: 10px

      .main-right-col
        flex: 1 1 50%
        padding: 10px

@media (max-width: 549px)
  .aside-1
    .main-nav
      li
        a
          padding: 10px 10px 0 10px
          .fa
            font-size: 2em
          span
            display: none