<% unless user_signed_in? %>
<div class="jumbotron">
  <h1>Get the best book reviews!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores atque dicta esse fugiat harum laboriosam maiores modi nemo nihil, nulla quasi quos recusandae sapiente soluta unde veniam veritatis voluptatem!</p>
  <p>
    <%= link_to 'Sign Up to Write a Review', new_user_registration_path, { class: 'btn btn-primary btn-lg', role: 'button' } %>
  </p>
</div>
<% end %>

<!-- BOOKS -->
<div class="row">
  <div class="col-xs-12">
    <div class="card-deck">
      <% @books.each do |book| %>

          <div class="card card-inverse book-card">
            <%= link_to  book,  title: "#{book.title}" do %>
                <%= image_tag book.cover.url(:medium), class: 'card-img' %>

                <div class="card-img-overlay">
                  <h4 class="card-title text-center"><%= book.title %></h4>
                </div>
            <% end %>
          </div>

      <% end %>
    </div>
  </div>
</div>

