<!DOCTYPE html>
<html lang="en">
<head>

  <title>Goodbook</title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= csrf_meta_tags %>

  <!-- Styles -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="devise">
<!-- Wrapper -->
<div class="devise-wrapper">

  <%= yield %>

</div>
<!-- / .devise-wrapper -->

</body>
</html>
